.main-content {
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    &__title {
        color: white;
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5em;
        margin: 20px 0;
        flex-basis: 100%;
        background-color: royalblue;
        box-shadow: 0 0 5px 0 black;
    }
}