.searcher {
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;

    &__input {
        width: 60%;
        height: 50%;
    }

    &__button {
        width: 100px;
        height: 30px;
        margin-left: 10px;
    }
}